

/* Styling for Dropdown Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: #1A2733;
}




/* Title styling */
.container .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 100px;
}


/* Option container styling */
.container .selectOption {
    position: absolute;
    top: 41%;

    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.801);
    margin: 0;
    font-size: 1.1rem;
    cursor: pointer;
    height: 60px;
    transition: 0.4s all ease-out;
    border: 1px solid rgba(255, 255, 255, 0);
}


/* Display options on hover */
.container .selectOption:hover {
    height: 215px;
    border: 1px solid rgba(255, 255, 255, 0.262);

}

.container .selectOption .defaultOption .arrowIcon {
    transition: 0.4s all ease-out;
}

/* Rotate dropdown icon on hover */
.container .selectOption:hover .defaultOption .arrowIcon {
    transform: rotate(180deg);
}

.container .selectOption .defaultOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Styling for options */

.container .selectOption .options .option1, .option2, .option3{
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    transition: 0.2s all ease-out;
}

.container .selectOption .options .option1:hover, .option2:hover, .option3:hover{
    background-color: #1A2733;
}


.container .answer {
    margin-top: 170px;

}





.icon {
    margin-right: 7px;
}


/* On Click height is set to 60px*/
.close {
    height: 60px !important;
}










